.THIS .date-in-table .slds-datepicker .slds-day {
    
    display : contents;
    position: absolute;
    z-index: 7000;
    left: -0.71875px;
}

.THIS .date-in-table td.slds-is-today>.slds-day {
    background-color: #cac6c6 !important;
    color: #000 !important;
    display: block;
    top: 5px;
}

.THIS .date-in-table .slds-is-selected.slds-is-today .slds-day{
    background: rgba(27, 82, 151, 1.0) !important;
    color: rgb(255, 255, 255) !important;
    display: block;
    top: 5px;
}

.THIS .date-in-table .slds-is-selected .slds-day{
    background: rgba(27, 82, 151, 1.0) !important;
    color: rgb(255, 255, 255) !important;
    display: block;
    top: 5px;
}


.THIS .col-width{
    width: 10%;
}
.THIS td .slds-form-element__label,.THIS .elementLabel label{
    display:none;
}
.THIS .notesList .slds-truncate{
    white-space: normal!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
}
.THIS .colm-top{
    margin-top: 6px;
}
.THIS .slds-table--header-fixed_container:before{
    height: 32px;
}
.THIS .fixmargin-top{
    margin-top:-10px;
}
.THIS .set-dateFilter{
    margin-top:3px;
    width : 90px;
}