.THIS {
}
.THIS .makeBold {
    font-weight: bold !important;
}
.THIS .file-icon .icn svg {
    fill: #2a5d9d !important;
}
.THIS .attach-icon .icn svg {
    fill: green !important;
}
.THIS input[type=checkbox]:checked.check-box{
    background-color: blue !important;
}